$noti-crit: rgba(255,0,0, 0.15);
@define-color noti-focus rgba(0,0,0,1);

$border-crit: 1px solid #{"@noti-crit"};
.notification-row {
  outline: none;
}

.notification {
  border-radius: 12px;
  margin: 6px 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
}
.notification.critical .notification-default-action {
  background: $noti-crit;
  &:hover {
    background: change-color($noti-crit, $alpha: 1);
  }
}

